<section class="pagination">
    <% if(currentPage!==1) {%>
    <a href="?page=1">1</a>
    <% } %>
    <% if(hasPreviousPage && previousPage!==1  ) { %>
    <!-- <a href="?page=<%=previousPage%>" class="prev"><%=previousPage%></a> -->
    <a href="?page=<%=previousPage%>" class="prev"><</a>
    <% } %>
    <a href="?page=<%=currentPage%>" class="active"><%=currentPage%></a>
    <% if(hasNextPage && nextPage!==lastPage) { %>
    <!-- <a href="?page=<%=nextPage%>" class="next"><%=nextPage%></a> -->
    <a href="?page=<%=nextPage%>" class="next">></a>
    <% } %>
    <% if( lastPage!==currentPage  ) { %>
    <a href="?page=<%=lastPage%>" class="last"><%=lastPage%></a>
    <% } %>
</section>